h1 {
  text-align: center;
  color: black;
}
h3{
  text-align:center
}

p{
  text-align:center
}

input {
  text-align: center;
  color: black;
  width:200px;
  height:30px;
  margin: 25px 150px 20px 150px;
  border-radius: 5px;
  font-weight: bold;
  }

button {
  text-align: center;
  color: white;
  width:210px;
  height:30px;
  margin: 0px 150px 0px 150px;
  border:none;
  border-radius: 5px;
  font-weight: bold;
}

#btnConvert {
  background: darkred
}


body{
  background: lightyellow;
}
